@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cores-letras:#fff;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    width: 100%;
    position: relative;
    background-color: #121214 !important;
  }

body.modal-open {
    overflow: hidden;
}

h4{
    color: white;
    font-size: 14px;
}

nav{
    position: fixed;
    background: #202024;
    box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.25), 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 113px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

#logo {
    width: 150px;
    padding: 20px;
}

.entradas{
    display: flex;
    max-width: 300px;
    width: 100%;
    justify-content: center;
}

.setores{
    border-radius: 40px;
    border: 1px solid #202024;
    color: #ffffff;;
    background: rgba(150, 146, 169, 0.44);
    padding: 9px;
    text-align: center;
}

nav i{
    color: #74747494;
    font-size: 24px;
    padding-top: 5px;
    padding-left: 5px;
}

nav i:hover{
    color: #2e2e2e94;
    font-size: 24px;
    padding-top: 5px;
    padding-left: 5px;
}


.principal{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    margin-top: 113px;
    overflow-x: hidden;
    font-size: 12px;
    transition: all 0.3s ease;
}

div.table:first-child{
    width: 45vw;
    color: var(--cores-letras);
    height: 80vh;
    margin-bottom: 0px;
    margin: 30px;
    margin-left: 50px;
    margin-right: 0;
    background: rgba(140, 132, 180, 0.28);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
    transition: all 0.3s ease;
}

div.table{
    width: 45vw;
    color: var(--cores-letras);
    height: 80vh;
    margin: 30px;
    margin-bottom: 0px;
    margin-right: 0;
    background: rgba(140, 132, 180, 0.28);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
    transition: all 0.3s ease;
}

.responsive-table{
    width: 100%;
    color: var(--cores-letras);
}

.responsive-table1{
    width: 100%;
    color: var(--cores-letras);
}

.table__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background: rgba(140, 132, 180, 0.28);
    padding: .8rem 1rem;
}

.table__header .input-group{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 70%;
    background-color: #fff5;
    padding: 0.8rem;
    border-radius: 2rem;
    transition: .2s;
}

.table__header .input-group:hover{ 
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group i{
    font-size: 16px;
}

.table__header .input-group input{
    font-size: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.select-group{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 14px;
}

.botoes_pecas{
    display: flex;
    gap: 10px;
}

.table__body {
    width: 100%;
    max-height: calc(80% - .8rem);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
    padding-left: 20px;
}

.table__body2 {
    width: 100%;
    max-height: calc(95% - .8rem);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}

.table__body3 {
    width: 100%;
    max-height: 600px;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}

td .modal-button{
    padding: 10px;
    outline: none;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
    border-radius: 10px;
    background: rgb(77, 69, 122);
}

td .modal-button:hover{
    background: rgb(61, 55, 97);
}

#visualizarPecasSolicitadas,#solicitarPecasButton,#filtrarOrdem,#levantamentoPecasSolicitadas{
    background: #807A9E;
    border-color: #807A9E;
    color: var(--cores-letras);
}

#enviarButton,.status{
    margin: auto;
    width: 50%;
    height: 40px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: #7167a3;
}

.status1{
    margin-top: 10px;
    width: 200px;
    height: 40px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: #7167a3;
}

.status{
    width: 60px;
}

#enviarButton:hover{
    background: #5f568b;
}

.espacamento_chave_carreta{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.card__body{
    width: 95%;
    max-height: calc(90% - .8rem);
    margin: .8rem auto;
    border-radius: .6rem;
}

.titulo_data_carreta{
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
    background: rgba(61, 55, 88, 0.60);
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .6rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover:-webkit-scrollbar-thumb{
    visibility: visible;
}

.table__body2::-webkit-scrollbar-thumb{
    border-radius: .6rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body2:hover:-webkit-scrollbar-thumb{
    visibility: visible;
}


.responsive-table, .responsive-table th, .responsive-table td {
    border-collapse: collapse;
    padding: 1rem !important;
    text-align: center;
    font-size: 14px;
}

.responsive-table1, .responsive-table1 th, .responsive-table1 td {
    border-collapse: collapse;
    padding: 1rem !important;
    text-align: center;
    font-size: 14px;
}

thead .cabecalho{
    position: sticky;
    top: 0;
    left: 0;
    background: rgba(61, 55, 88);
}

tbody tr:nth-child(even){
    background: rgba(112, 105, 148);
}

tbody tr{
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
    background: #5d577c;
}

tbody tr.hide{
    opacity: 0;
    transform: translateX(100%);
}

.responsive-table tr.hide{
    opacity: 0;
    transform: translateX(100%);
    display: none;
}

.responsive-table1 tr.hide{
    opacity: 0;
    transform: translateX(100%);
    display: none;
}

.form-row {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    background: rgba(112, 105, 148, 0.44);
    text-align: center;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
}

.form-row2{
    display: flex;
    justify-content: space-between;
}
  
.form-row .form-group {
    display: flex;
    width: 40%;
    margin-left: 3px;
    flex-direction: column;
    align-items: center;
}


.form-group input {
    position: relative;
    width: 80%;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border: 1px solid #3D3758;
    border-radius: 10px;
    background: rgba(128, 122, 158, 0.44);
    color: white;
    outline: none;
    font-size: 1em;
    padding: 10px;
}

.form-group select {
    position: relative;
    width: 80%;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border: 1px solid #3D3758;
    border-radius: 10px;
    background: rgba(128, 122, 158, 0.44);
    color: white;
    outline: none;
    font-size: 1em;
    padding: 10px;
}

.form-control2{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background: rgba(128, 122, 158, 0.44);
    background-clip: padding-box;
    border: 1px solid #3D3758;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-textarea{
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background: rgba(128, 122, 158, 0.44);
    background-clip: padding-box;
    border: 1px solid #3D3758;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.solicitar{
    padding: 10px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: #7167a3;
}

.solicitar:hover{
    background: #5f568b;
}

#solicitar_peca{
    margin: auto;
    margin-bottom: 25px;
    width: 50%;
    height: 40px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: #7167a3;
}

#solicitar_peca:hover{
    background: #5f568b;
}

/* Estilos para o overlay de fundo cinza */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Estilos para a barra de progresso */
#loading-bar-container {
    width: 80%;
    max-width: 300px; /* Ajuste o tamanho máximo conforme necessário */
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

#loading-progress {
    width: 0;
    height: 20px; /* Altura da barra de progresso */
    background-color: #f00; /* Cor da barra de progresso */
    border-radius: 10px;
    transition: width 0.5s ease-in-out; /* Animação suave */
}
.hidden {
    display: none;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading-spinner {
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-top: 3px solid rgb(148, 136, 207);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.mult-select-tag {
    width: 55% !important;
}

.mult-select-tag .body {
    border: 1px solid #3D3758 !important;
    background: rgba(128, 122, 158, 0.44) !important;
}

.mult-select-tag .btn-container {
    border-left: 1px solid rgba(128, 122, 158) !important;
}

/* Celular */

@media (max-width:1300px){
    div.table:first-child{
        width: 90vw;
        margin-left: 20px;
        height: 100vw;
    }

    div.table{
        width: 90vw;
        height: 100vh;
        margin-left: 20px;
    }

    .principal{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

@media (max-width:600px){

    .select-group{
        color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 14px;
    }

    .table__body {
        padding-left: 0px;
        max-height: 50%;
    }

    .responsive-table {
        max-width: 100%;
        overflow-x: auto;
    }
    .responsive-table1 {
        max-width: 100%;
        overflow-x: auto;
    }
    
    .responsive-table thead {
        display: none;
    }
    .responsive-table1 thead {
        display: none;
    }
    
    .responsive-table td,
    .responsive-table th {
        display: block;
        text-align: center;
    }
    .responsive-table1 td,
    .responsive-table1 th {
        display: block;
        text-align: center;
    }
    
    
    .responsive-table td:before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
    }
    .responsive-table1 td:before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
    }
    .responsive-table tr{
        --delay: .1s;
        transition: .5s ease-in-out var(--delay), background-color 0s;
        display: grid;
        border: 2px solid #c4b9ff;
        grid-template-columns: 1fr;
    }
    .responsive-table1 tr{
        --delay: .1s;
        transition: .5s ease-in-out var(--delay), background-color 0s;
        display: grid;
        border: 2px solid #c4b9ff;
        grid-template-columns: 1fr;
    }
    h4{
        font-size: 15px !important;
    }

    #visualizarPecasSolicitadas,#solicitarPecasButton,#filtrarOrdem,levantamentoPecasSolicitadas{
        background: #807A9E;
        border-color: #807A9E;
        color: var(--cores-letras);
        font-size: 10px;
    }
    
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        max-width: 180px;
    }
}

.daterangepicker{
    top: 0px !important;
}

input[type=checkbox]{
    border: 0px;
    width: 25px;
    height: 30px;
    vertical-align: middle;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto;
    font-size: 12px;
}

.select2-container--default .select2-selection--single {
    background: rgba(128, 122, 158, 0.44) !important;
    border: 1px solid #3D3758 !important;
    border-radius: 4px;
    height: 30px !important; 
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff !important;
    line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    height: 0px !important;
}

.select2-dropdown {
    position: fixed !important;
}

.select2-container--open .select2-dropdown {
    left: auto !important;
}

#excel_model {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#excel_model a{
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}

#excel_model a:hover{
    color: #e2e2e2;
}

#botoes_levantamento{
    display: flex; 
    justify-content: flex-end;
    gap: 20px;
    padding-right: 15px;
    padding-left: 15px;
}
@media(max-width:770px){

    #botoes_levantamento{
        display: flex; 
        justify-content: space-between;
        flex-direction: row;
    }
}

input[type="file"] {
    display: none;
}

#fileForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

#fileForm label{
    padding: 10px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: #7167a3;
    text-align: center;
}

.modal {
    overflow: auto !important;
}