<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Programação de Cargas</title>
    <link rel="stylesheet" href="static\css\style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://kit.fontawesome.com/d1807a784c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <link rel="stylesheet" type="text/css" href="static/css/modal-programacao.css">
    <link rel="stylesheet" type="text/css" href="static/css/modal-peca-solicitada.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body>

    
    <input id="setor_logado" name="setor_logado" value="{{ username }}" style="display: none;">
    <nav style="display: flex;">
        <div class="logo">
            <a><img id="logo" src="static\css\CEMAGL (1) - Copia.png" alt="logo cemag"></a>
        </div>
        <h4>Logado como: {{ username }}</h4>
        <div class="entradas">
            <select class="setores" style="display: none;" name="mudarSetorEstamparia" id="mudarSetorEstamparia">
                {% if username == 'Estamparia' %}
                    <option value="Estamparia" selected>Estamparia</option>
                    <option value="Corte">Corte</option>
                {% else %}
                    <option value="Corte" selected>Corte</option>
                    <option value="Estamparia">Estamparia</option>
                {% endif %}
            </select>
        
            <select class="setores" style="display: none;" name="mudarSetorSolda" id="mudarSetorSolda">
                {% if username == 'Solda' %}
                    <option value="Solda" selected>Solda</option>
                    <option value="Montagem">Montagem</option>
                {% else %}
                    <option value="Montagem" selected>Montagem</option>
                    <option value="Solda">Solda</option>
                {% endif %}
            </select>
        </div>
    </nav>
    <main class="principal">
        <div class="table table-2">
            <section class="table__header">
                <h4 style="font-size: 18px;">Programação de Cargas</h4>
                <div class="botoes_pecas">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_pesquisa_peca" id="solicitarPecasButton" style="display: none;">
                        Solicitar peças
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_visualizar_peca_solicitada" id="visualizarPecasSolicitadas" style="display: none;">
                        Peças solicitadas
                    </button>
                </div>
            </section>
            <section class="card__body">
                <p class="titulo_data_carreta" style="margin-bottom: 0;">Data/Carreta</p>
                <div class="form-row" style=" margin-right: 0px;margin-left: 0px;">
                  <div class="form-group" style="margin-top: 20px;">
                    <label>Data da carga:</label>
                    <input type="date" id="dataFilter">
                  </div>
          
                  <div class="form-group" style="margin-top: 20px;">
                    <label>Carretas:</label>
                    <select id="carretasSelect">
                        <option></option>
                    </select>
                  </div>

                </div>
            </section>
        </div>
        <div class="table table-2 table-3" style="margin: 30px; margin-left: 20px;">
            <section class="table__header">
                <h4 style="font-size: 18px;">Programação de Cargas</h4>
            </section>
            <div class="select-group">
                <select name="ordemproducao" id="ordemproducao" multiple>
                    {% for row in base_carretas_filtro %}
                    <option value="{{row}}">{{row}}</option>
                    {% endfor %}
                </select>
                <button id="filtrarOrdem" type="submit" class="btn btn-light" style=" margin-left: 10px;">Filtrar</button>
            </div>
            <section class="table__body">
                <table class="responsive-table">
                    <thead>
                        <tr style="border-top: 0">
                            <th class="cabecalho" style="border-bottom: none;border-top: none">Data</th>
                            <th class="cabecalho" style="border-bottom: none;border-top: none">Carreta</th>
                            <th class="cabecalho" style="border-bottom: none;border-top: none">Quantidade</th>
                            <th class="cabecalho" style="display: none; border-bottom: none;border-top: none">Chave</th>
                            <th class="cabecalho" style="border-bottom: none;border-top: none">Programação</th>
                        </tr>        
                    </thead>
                    <tbody>
                        {% for row in base_carretas %}
                        <tr>
                            <td data-label="Data" style="border-top: none;">{{row[6]}}</td>
                            <td data-label="Carreta" style="border-top: none;">{{row[10]}}</td>
                            <td data-label="Quantidade" style="border-top: none;">{{row[15]}}</td>
                            <td data-label="Chave" style="display: none; border-top: none;">{{row[13]}}</td>
                            <td style="border-top: none;"><input type="button" class="modal-button" data-chave="{{row[13]}}" data-carreta="{{row[10]}}" value="Programação"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </main>

    <div id="loading-overlay" style="display: none;">
        <div id="loading-spinner"></div>
    </div>
    <!-- Modal de programação de carretas -->
    <div id="modal_programacao" class="modal" data-backdrop="static">
        <div class="modal-content" style="height: 100%; width: 60%;">
            <span class="close" id="closeModal">&times;</span>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_pesquisa_peca" id="solicitar_peca" style="display: none;">
                Solicitar peças
            </button>
            <div class="espacamento_chave_carreta">
                <p>Chave:</p><span id="modalChave"></span>
                <p>Carreta:</p><span id="spanCarreta"></span>
            </div>
            <div class="conjuntos" style="height: 80%;">
            </div>
            <button id="enviarButton">Enviar</button>
        </div>
    </div>

    <!-- Modal para solicitar peças -->
    <div class="modal fade" id="modal_pesquisa_peca" tabindex="-1" role="dialog" aria-labelledby="modal_pesquisa_peca_label" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 200%;">
                <div class="modal-header">
                    <input type="button" class="modal-title active" id="modal_pesquisa_peca_label" value="Solicitar Peças">
                    <input type="button" class="modal-title" id="modal_levantamento_peca_label" value="Levantamento de Peças">
                    <button type="button" id="fechar_levantamento" class="close" data-dismiss="modal" aria-label="Fechar" style="color: #fff;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <div>
                        <div class="container-fluid">
                            <div>
                                <div class="form-row2">
                                    <div id="coluna_data" class="col-md-6 date-input">         
                                        <label id="data_inicial" class="date-input">Data</label>
                                        <input type="text" class="form-control2 date-input" id="inputDate1" name="datetimes" autocomplete="off">
                                    </div>

                                    <div id="levant" class="col-md-6">
                                        <button type="button" class="btn btn-primary" id="levantamentoButton" style="display: none; margin-top: 30px; width: 100%;font-size: 12px;">Filtrar Data</button>
                                    </div>
                                </div>
                                <div style="width: 100%; display: flex; justify-content: flex-end; padding-right: 15px;padding-left: 15px;">
                                    <button type="button" class="btn btn-primary" id="ocultButton" title="ocultar/exibir filtros" style="display: none; margin: 0;" onclick="toggleFiltros()"><i id="icon" class="fa-solid fa-minimize"></i></button>
                                </div>
                                <div id="filtros">
                                    <div class="form-row2">
                                        <div id="peca" class="col-md-6">
                                            <label>Peça</label>
                                            <select id="filtroPeca" name="filtroPeca" class="form-control2">
                                                <option value="" selected disabled hidden></option>  
                                                <option></option> 
                                            </select>
                                        </div>

                                        <div id="conjunto" class="col-md-6">
                                            <label>Conjunto</label>
                                            <select id="filtroConjunto" name="filtroConjunto" class="form-control2">
                                                <option value="" selected disabled hidden></option>  
                                            </select>
                                        </div>
                                    </div>

                                    <div id="descricao" class="col-md-6" style="display: none;">
                                        <label>Descrição</label>
                                        <select id="filtroDescricao" name="filtroDescricao" class="form-control2">
                                            <option value="" selected disabled hidden></option>  
                                        </select>
                                    </div>

                                    <div id="carreta" class="col-md-6">
                                        <label>Carreta</label>
                                        <select id="filtroCarreta" name="filtroCarreta" class="form-control2">
                                            <option value="" selected disabled hidden></option>  
                                            <option></option>  
                                        </select>
                                    </div>
                                    
                                    <div id="processo" class="col-md-6">
                                        <label>Processo</label>
                                        <select id="filtroProcesso" name="filtroProcesso" class="form-control2">
                                            <option value="" selected disabled hidden></option>  
                                        </select>
                                    </div>
                                </div>
                                    
                            </div>

                            <button type="button" class="btn btn-primary" id="btnFiltrar">Filtrar</button>
                            <div id="botoes_levantamento">
                                <button type="button" class="btn btn-primary" id="limparLevantamento" style="display: none; font-size: 11px;">Limpar Filtros</button>
                                <button type="button" class="btn btn-primary" id="inserir_base" data-toggle="modal" data-target="#modal_enviar_carretas" style="display: none; font-size: 11px;">Inserir Base</button>
                                <button type="button" class="btn btn-primary" id="exibirTabela" style="display: none;" onclick="toggleTabela()">+</button>
                            </div>
                        </div>
                    </div>
                    <div id="tabela-solicitar-peca" style="max-height: 300px; overflow-y: auto; display: none;">
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Processo</th>
                                    <th>Código</th>
                                    <th>Peça</th>
                                    <th>Quantidade</th>
                                    <th>Carreta</th>
                                    <th>Conjunto</th>
                                    <th>Quantidade necessária</th>
                                    <th>Observação</th>
                                    <th>Solicitar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h5 style="color: white;" id="carretas_utilizadas">Carretas Utilizadas por dias</h5>
                    <div id="tabela-levantamento-peca" data-tabela-id="tabela-levantamento-peca" style="max-height: 300px; overflow-y: auto; display: none; margin-bottom: 30px;">
                        <table class="responsive-table1" name="responsive-table1">
                            <thead>
                                <tr style="border-top: 0">
                                    <th class="cabecalho" style="border-bottom: none;border-top: none">Data</th>
                                    <th class="cabecalho" style="border-bottom: none;border-top: none">Carreta</th>
                                    <th class="cabecalho" style="border-bottom: none;border-top: none">Quantidade</th>
                                    <th class="cabecalho" style="border-bottom: none;border-top: none">Base Innovaro</th>
                                    <th class="cabecalho" style="display: none; border-bottom: none;border-top: none">Chave</th>
                                </tr>        
                            </thead>
                            <tbody>
                                {% for row in base_levantamento %}
                                <tr>
                                    <td data-label="Data" style="border-top: none;">{{row[0]}}</td>
                                    <td data-label="Carreta" style="border-top: none;">{{row[1]}}</td>
                                    <td data-label="Quantidade" style="border-top: none;">{{row[2]}}</td>
                                    {% if row[3] == True %}
                                    <td data-label="innovaro" style="border-top: none; color: rgb(94, 250, 141);"><i class="fa-solid fa-check"></i></td>
                                    {% else %}
                                    <td data-label="innovaro" style="border-top: none; color: red;"><i class="fa-solid fa-x"></i></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <h5 style="color: white;" id="base_carretas">Base de Peças do Innovaro</h5>
                    <div id="resultado" style="max-height: 500px; overflow-y: auto;">
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade"  id="modal_enviar_carretas" tabindex="-1" role="dialog" aria-labelledby="modal_enviar_carretas_label" aria-hidden="true"  data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 100%; margin-top: 150px; overflow-y: auto;">
                <div style="display: flex; justify-content: space-between; align-items: flex-start;">
                    <h4>Insira um arquivo para atualizar a base de carretas </h4>
                    <button type="button" id="fechar_modal_enviar_carretas" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="excel_model" style="display: none; margin-bottom: 20px;">
                    <a href="{{ url_for('download_modelo_excel') }}" download><i class="fa-solid fa-download"></i> Excel/Csv Modelo</a>
                </div>
                <form id="fileForm" enctype="multipart/form-data">
                    <label for="fileSelect">Enviar arquivo</label>
                    <input id="fileSelect"  name="fileSelect" type="file" style="width: 100%; color: white;" onchange="displayFileName()" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                    <button type="button" style="background: #9267a3;" class="solicitar" onclick="uploadFile()">Salvar</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal para visualizar peças solicitadas -->
    <div class="modal fade" id="modal_visualizar_peca_solicitada" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal_visualizar_peca_solicitada" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 100%;">
            <div class="modal-content" style="width: 80% ">
                <div class="modal-header">
                    <input type="button" class="modal-title active" id="modal_visualizar_peca_solicitada_input" value="Peças solicitadas">
                    <input type="button" class="modal-title" id="modal_visualizar_peca_feita_input" value="Peças Feitas">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="display: flex; justify-content: space-between;">
                        <div id="dataSolicitPeca" class="col-md-6">
                            <label style="color: white;">Data</label>
                            <input type="date" id="filtroDataSolicitPeca" name="filtroDataSolicitPeca" class="form-control2" style="width: 100%;">
                        </div>
                        
                        <div id="carretaSolicitPeca" class="col-md-6" style="margin-bottom: 30px;">
                            <label style="color: white;">Origem</label>
                            <select id="filtroOrigemSolicitPeca" name="filtroOrigemSolicitPeca" class="form-control2">
                                <option value=""></option>  
                                <option value="Levantamento">Levantamento</option> 
                                <option value="Solicitadas">Solicitadas</option>   
                            </select>
                        </div>
                    </div>
                    <div class="table__body3" id="tabela-visualizar-peca">
                        <table class='responsive-table'>
                            <thead>
                                <tr>
                                    <th class="cabecalho">Chave</th>
                                    <th class="cabecalho">Data solicitada</th>
                                    <th class="cabecalho">Data Carga</th>
                                    <th class="cabecalho">Carreta</th>
                                    <th class="cabecalho">Código</th>
                                    <th class="cabecalho">Descrição</th>
                                    <th class="cabecalho">Conjunto</th>
                                    <th class="cabecalho">Quantidade</th>
                                    <th class="cabecalho">Observação</th>
                                    <th class="cabecalho">Origem</th>
                                    <th class="cabecalho botao-column">Botão</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-label="Chave"></td>
                                    <td data-label="Data"></td>
                                    <td data-label="Data da Carga"></td>
                                    <td data-label="Carreta"></td>
                                    <td data-label="Código"></td>
                                    <td data-label="Descrição"></td>
                                    <td data-label="Conjunto"></td>
                                    <td data-label="Quantidade"></td>
                                    <td class="botao-column"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <script src="static/js/filtros-tabela-inicial.js"></script>
    <script src="static/js/modal-tabela-inicial.js"></script>
    <script src="static/js/lista-pecas-api.js"></script>
    <script src="static/js/modal-visualizar-pecas.js"></script>
    <script src="static/js/multi-select.js"></script>
    <script src="static/js/botoes-ativados.js"></script>
    <script src="static/js/data-range-e-tabela-levantamento.js"></script>
    <script src="static/js/select-levantamento.js"></script>
    <script src="static/js/filtros-levantamento.js"></script>
    <script src="static/js/uploadFileExcel.js"></script>
    <script src="static/js/filtros-solicitar-pecas.js"></script>
    
    <!-- JavaScript do Bootstrap -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</body>

</html>