<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Programação de Cargas</title>
    <link rel="stylesheet" href="static\css\style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <link rel="stylesheet" type="text/css" href="static/css/modal-programacao.css">
    <link rel="stylesheet" type="text/css" href="static/css/modal-peca-solicitada.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    
    <input id="setor_logado" name="setor_logado" value="{{ username }}" style="display: none;">
    <nav style="display: flex;">
        <div class="logo">
            <a><img id="logo" src="static\css\CEMAGL (1) - Copia.png" alt="logo cemag"></a>
        </div>
        <h4>Logado como: {{ username }}</h4>
        <div class="entradas">
            <select class="setores" style="display: none;" name="mudarSetorEstamparia" id="mudarSetorEstamparia">
                {% if username == 'Estamparia' %}
                    <option value="Estamparia" selected>Estamparia</option>
                    <option value="Corte">Corte</option>
                {% else %}
                    <option value="Corte" selected>Corte</option>
                    <option value="Estamparia">Estamparia</option>
                {% endif %}
            </select>
        
            <select class="setores" style="display: none;" name="mudarSetorSolda" id="mudarSetorSolda">
                {% if username == 'Solda' %}
                    <option value="Solda" selected>Solda</option>
                    <option value="Montagem">Montagem</option>
                {% else %}
                    <option value="Montagem" selected>Montagem</option>
                    <option value="Solda">Solda</option>
                {% endif %}
            </select>
        </div>
    </nav>
    <main class="principal">
        <div class="table table-2">
            <section class="table__header">
                <h4 style="font-size: 18px;">Programação de Cargas</h4>
                <div class="botoes_pecas">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_pesquisa_peca" id="solicitarPecasButton" style="display: none;">
                        Solicitar peças
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_visualizar_peca_solicitada" id="visualizarPecasSolicitadas" style="display: none;">
                        Peças solicitadas
                    </button>
                </div>
            </section>
            <section class="card__body">
                <p class="titulo_data_carreta" style="margin-bottom: 0;">Data/Carreta</p>
                <div class="form-row" style=" margin-right: 0px;margin-left: 0px;">
                  <div class="form-group" style="margin-top: 20px;">
                    <label>Data da carga:</label>
                    <input type="date" id="dataFilter">
                  </div>
          
                  <div class="form-group" style="margin-top: 20px;">
                    <label>Carretas:</label>
                    <select id="carretasSelect">
                        <option></option>
                    </select>
                  </div>
                </div>
            </section>
        </div>
        <div class="table table-2" style="margin: 30px; margin-left: 20px;">
            <section class="table__header">
                <h4 style="font-size: 18px;">Programação de Cargas</h4>
            </section>
            <div class="select-group">
                <select name="ordemproducao" id="ordemproducao" multiple>
                    {% for row in base_carretas_filtro %}
                    <option value="{{row}}">{{row}}</option>
                    {% endfor %}
                </select>
                <button id="filtrarOrdem" type="submit" class="btn btn-light" style=" margin-left: 10px;">Filtrar</button>
            </div>
            <section class="table__body">
                <table class="responsive-table">
                    <thead>
                        <tr style="border-top: 0">
                            <th class="cabecalho" style="border-bottom: none;border-top: none">Data</th>
                            <th class="cabecalho" style="border-bottom: none;border-top: none">Carreta</th>
                            <th class="cabecalho" style="border-bottom: none;border-top: none">Quantidade</th>
                            <th class="cabecalho" style="display: none; border-bottom: none;border-top: none">Chave</th>
                            <th class="cabecalho" style="border-bottom: none;border-top: none">Programação</th>
                        </tr>        
                    </thead>
                    <tbody>
                        {% for row in base_carretas %}
                        <tr>
                            <td data-label="Data" style="border-top: none;">{{row[6]}}</td>
                            <td data-label="Carreta" style="border-top: none;">{{row[10]}}</td>
                            <td data-label="Quantidade" style="border-top: none;">{{row[15]}}</td>
                            <td data-label="Chave" style="display: none; border-top: none;">{{row[13]}}</td>
                            <td style="border-top: none;"><input type="button" class="modal-button" data-chave="{{row[13]}}" data-carreta="{{row[10]}}" value="Programação"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </main>

    <div id="loading-overlay" style="display: none;">
        <div id="loading-spinner"></div>
    </div>
    <!-- Modal de programação de carretas -->
    <div id="modal_programacao" class="modal">
        <div class="modal-content" style="height: 100%; width: 60%;">
            <span class="close" id="closeModal">&times;</span>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_pesquisa_peca" id="solicitar_peca" style="display: none;">
                Solicitar peças
            </button>
            <div class="espacamento_chave_carreta">
                <p>Chave:</p><span id="modalChave"></span>
                <p>Carreta:</p><span id="spanCarreta"></span>
            </div>
            <div class="conjuntos" style="height: 80%;">
            </div>
            <button id="enviarButton">Enviar</button>
        </div>
    </div>

    <!-- Modal para solicitar peças -->
    <div class="modal fade" id="modal_pesquisa_peca" tabindex="-1" role="dialog" aria-labelledby="modal_pesquisa_peca_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 300%;">
                <div class="modal-header">
                    <input type="button" class="modal-title active" id="modal_pesquisa_peca_label" value="Peças solicitadas">
                    <input type="button" class="modal-title" id="modal_levantamento_peca_label" value="Levantamento de Peças">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" style="color: #fff;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <form>
                        <div class="container-fluid">
                            <div class="row">

                                <div id="coluna_data" class="col-md-6 date-input">
                                    <label id="data_inicial" class="date-input">Data</label>
                                    <input type="text" class="form-control2 date-input" id="inputDate1" name="datetimes">
                                </div>

                                <div id="peca" class="col-md-6">
                                    <label>Peça</label>
                                    <select id="filtroPeca" class="form-control2">
                                        <option></option>
                                        <option>497101</option>
                                        <option>497102</option>
                                        <option>497103</option>
                                        <option>497104</option>
                                        <option>497105</option>
                                        <option>497106</option>
                                    </select>
                                </div>

                                <div id="processo" class="col-md-6">
                                    <label>Processo</label>
                                    <select id="filtroProcesso" class="form-control2">
                                        <option></option>
                                        <option>GMS Estamparia</option>
                                    </select>
                                </div>
                                
                                <div id="carreta" class="col-md-6">
                                    <label>Carreta</label>
                                    <select id="filtroCarreta" class="form-control2">
                                        <option></option>
                                    </select>
                                </div>
                                
                                <div id="conjunto" class="col-md-6">
                                    <label>Conjunto</label>
                                    <select id="filtroConjunto" class="form-control2">
                                        <option></option>
                                        <option>Peças Para Carretas</option>
                                    </select>
                                </div>
                                    
                            </div>

                            <button type="button" class="btn btn-primary" id="btnFiltrar">Filtrar</button>
                            <div style="display: flex; justify-content: space-between;">
                            <button type="button" class="btn btn-primary" id="levantamentoButton" style="display: none;">Filtrar</button>
                            <button type="button" class="btn btn-primary" id="exibirTabela" style="display: none;" onclick="toggleTabela()">Exibir carretas p/ dia</button>
                            </div>
                        </div>
                    </form>
                    <div id="tabela-solicitar-peca" style="max-height: 300px; overflow-y: auto;">
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Peça</th>
                                    <th>Quantidade</th>
                                    <th>Carreta</th>
                                    <th>Conjunto</th>
                                    <th>Quantidade</th>
                                    <th>Observação</th>
                                    <th>Solicitar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="tabela-levantamento-peca" style="max-height: 300px; overflow-y: auto; display: none; margin-bottom: 30px;">
                        <label>Carretas Utilizadas por dias</label>
                        <table class="responsive-table1">
                            <thead>
                                <tr style="border-top: 0">
                                    <th class="cabecalho" style="border-bottom: none;border-top: none">Data</th>
                                    <th class="cabecalho" style="border-bottom: none;border-top: none">Carreta</th>
                                    <th class="cabecalho" style="border-bottom: none;border-top: none">Quantidade</th>
                                    <th class="cabecalho" style="display: none; border-bottom: none;border-top: none">Chave</th>
                                </tr>        
                            </thead>
                            <tbody>
                                {% for row in base_levantamento %}
                                <tr>
                                    <td data-label="Data" style="border-top: none;">{{row[0]}}</td>
                                    <td data-label="Carreta" style="border-top: none;">{{row[1]}}</td>
                                    <td data-label="Quantidade" style="border-top: none;">{{row[3]}}</td>
                                    <td data-label="Chave" style="display: none; border-top: none;">{{row[2]}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="resultado" style="max-height: 300px; overflow-y: auto;">
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para visualizar peças solicitadas -->
    <div class="modal fade" id="modal_visualizar_peca_solicitada" tabindex="-1" role="dialog" aria-labelledby="modal_visualizar_peca_solicitada" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 100%;">
            <div class="modal-content" style="width: 80% ">
                <div class="modal-header">
                    <input type="button" class="modal-title active" id="modal_visualizar_peca_solicitada_input" value="Peças solicitadas">
                    <input type="button" class="modal-title" id="modal_visualizar_peca_feita_input" value="Peças Feitas">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table__body3" id="tabela-visualizar-peca">
                        <table class='responsive-table'>
                            <thead>
                                <tr>
                                    <th class="cabecalho">Chave</th>
                                    <th class="cabecalho">Data solicitada</th>
                                    <th class="cabecalho">Carreta</th>
                                    <th class="cabecalho">Código</th>
                                    <th class="cabecalho">Descrição</th>
                                    <th class="cabecalho">Conjunto</th>
                                    <th class="cabecalho">Quantidade</th>
                                    <th class="cabecalho">Observação</th>
                                    <th class="cabecalho botao-column">Botão</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-label="Chave"></td>
                                    <td data-label="Data"></td>
                                    <td data-label="Carreta"></td>
                                    <td data-label="Código"></td>
                                    <td data-label="Descrição"></td>
                                    <td data-label="Conjunto"></td>
                                    <td data-label="Quantidade"></td>
                                    <td class="botao-column"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
    </div>

    <script src="static/js/filtros-tabela-inicial.js"></script>
    <script src="static/js/modal-tabela-inicial.js"></script>
    <script src="static/js/lista-pecas-api.js"></script>
    <script src="static/js/modal-visualizar-pecas.js"></script>
    <script src="static/js/multi-select.js"></script>
    <script src="static/js/botoes-ativados.js"></script>
    <script src="static/js/data-range.js"></script>
    <script src="static/js/levantamento.js"></script>

    <!-- JavaScript do Bootstrap -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>