<!DOCTYPE html>
<html>

<head>
    <title>Programação de Cargas</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/modal-programacao.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <input id="setor_logado" name="setor_logado" value="{{ username }}" style="display: none;">
   
    <h1>Você está logado como: {{ username }}</h1>

</head>

<body>

    <label>Data:</label>
    <input type="date" id="dataFilter">

    <label>Carretas:</label>
    <select id="carretasSelect">
        <option></option>
    </select>

    <table>
        <tr>
            <th>Data</th>
            <th>Carreta</th>
            <th>Quantidade</th>
            <th style="display: none;">Chave</th>
            <th>Programação</th>
        </tr>
        {% for row in base_carretas %}
        <tr>
            <td>{{row[6]}}</td>
            <td>{{row[10]}}</td>
            <td>{{row[15]}}</td>
            <td style="display: none;">{{row[13]}}</td>
            <td><input type="button" class="modal-button" data-chave="{{row[13]}}" data-carreta="{{row[10]}}"></td>
        </tr>
        {% endfor %}
    </table>

    <script src="static/js/filtros-tabela-inicial.js"></script>
    <script src="static/js/modal-tabela-inicial.js"></script>
    <script src="static/js/lista-pecas-api.js"></script>
    <script src="static/js/modal-visualizar-pecas.js"></script>

    <!-- JavaScript do Bootstrap -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>